//HEADER VARIABLES

$logo-height: 30px;

// COLOURS VARIABLES

$background_logo: #ffffff ;

$background_search:#eaeaea;

$colour_reservation_h2: #353535;

$background_reservation:#f7f7f7;

$background_before:#9356dc;

$background_icon : #9356dc;

$colour_icon: #7e7e7e;

$background-c: #353535;

$colour-c : #ffffff;

$colour-hover: #f5edff;

// POLICE SIZE

$fontsize_reservation_h1: 24px;

$fontsize_reservation_h2: 20px;

$bouton-type1 : 16px;

$heart : 24px;


// --------------------------------------------------------------------------
// VARIABLES RESTAURANTS
// --------------------------------------------------------------------------

$background_selection:#f7f7f7;
$background-list:#ffffff;
$background_after: #99e2d0;
$colour_animation: #99e2d0;

$check_font:30px;
$description__bold--size:18px;
$description__thin--size:15px;
$description__prix--size: 15px;

$description__bold--weight:500;
$description__thin--weight:300;
$description__prix--weight:500;