@use "../utils/variables.scss" as *;
@use "../utils/mixin.scss" as *;

.fleximage {
    display: flex;
}

.back {
    display: contents;
}

.fleximage__img1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.selection {
    @include flex-cc;
    background-color: $background_selection;
    padding: 40px 0;
    border-radius: 20px 20px 0 0;
    position: relative;
    margin-top: -40px;
}

.selection__90 {
    @include flex-cc;
    flex-direction: column;
    width: 90%;
}

.selection__90__title {
    @include flex-sbc ;
    width: 100%;
    margin-bottom: 42px;
}

.selection__90__menu {
    width: 100%;
    @include flex-ss;
    flex-direction: column;
    margin-bottom: 42px;
}

.selection__90__menu__h3 {
    margin-bottom: 30px;
    line-height: 2;
}

.selection__90__menu__h3::after {
    content: '';
    background-color: $background_after;
    display: block;
    width: 40px;
    height: 3px;
}

.ul {
    @include flex-cc;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}
.selection__90__menu__ul {
    @include flex-sbstr;
    background-color: $background-list;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.selection__90__menu__ul__list {
    padding: 4px 20px;
    flex-grow: 1;
    line-height: 2;
}

.selection__90__menu__ul__list__element {
    @include flex-sbe;
}

.selection__90__menu__ul__list__element__description {
    display: flex;
    flex-direction: column;
}

.description__bold{
    font-weight: $description__bold--weight;
    font-size: $description__bold--size;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description__thin{
    font-weight: $description__thin--weight;
    font-size: $description__thin--size;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selection__90__menu__ul__list__element__prix {
    font-weight: $description__prix--weight;
    font-size: $description__prix--size;
}

.selection__90__menu__ul__animation {
    background-color: $colour_animation;
    width: 0%;
    // display: none;
    visibility: hidden;
    @include flex-cc;
    transition-property: visibility,width;
    transition-duration: 1000ms;
}

.fa-circle-check{
    opacity: 0;
    background-color: #ffffff;
    color: $colour_animation;
    font-size: $check_font;
    border-radius: 100%;
    outline: 4px solid $colour_animation;
    outline-offset: -2px;
    transition: transform,opacity, 400ms;
    transition-delay: 140ms;
}

.selection__90__menu__ul:nth-child(n):hover .selection__90__menu__ul__animation:nth-child(n),.selection__90__menu__ul:nth-child(n):active .selection__90__menu__ul__animation:nth-child(n){
    // @include flex-cc;
    width: 20%;
    visibility: unset;
    .fa-circle-check{
        transform: rotate(360deg);
        opacity: 1;
    }
}

.selection__90__menu__ul:nth-child(n):hover .selection__90__menu__ul__list__element__description:nth-child(n){
    max-width: 80%;
}
.selection__90__menu__ul:nth-child(n):hover .selection__90__menu__ul__list {
    // max-width: 80%;
    max-width: unset;
}




.bouton-type1.commander--mod {
    padding-left:44px ;
    padding-right: 44px;
}

@keyframes opacity0 {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
}
@keyframes abc {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes abc2 {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: unset;
    }
}


@mixin transition {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation:1000ms abc #{-300 + $i * 400}ms forwards, 1000ms abc2;
      }
    }
}


.selection__90__menu__ul {
    opacity: 0;
    @include transition;
}

